-i https://pypi.tuna.tsinghua.edu.cn/simple
attrs==19.3.0
automat==0.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
datetime==4.3
fake-useragent==0.1.11
h5py==2.10.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jmespath==0.9.4
lxml==4.4.2 ; python_version != '3.4'
numexpr==2.7.0
numpy==1.18.0
pandas==0.25.3
parsel==1.5.2
pillow==7.0.0
protego==0.1.16
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycparser==2.19
pydispatcher==2.0.5
pyhamcrest==1.9.0
pyopenssl==19.1.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
redis==3.3.11
requests==2.22.0
scrapy==1.8.0
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
tables==3.6.1
twisted==19.10.0
urllib3==1.25.7
w3lib==1.21.0
zope.interface==4.7.1
